body {
    background-color: burlywood;
}

hr {
    background-color: burlywood;
    width: 10%;
    height: 20px;
    border-width: 5px;
    
    border-style: dotted none none;
}
h1{
    color: black;
    font-style: italic;
}
h3{
    color: black;
    font-style: italic;
}
h2{
    color: black;
    font-style: italic;
}
